<div class="card my-5">
  <div class="search-hero">
    <input [(ngModel)]="searchText" autocomplete="off" class="form-control" name="search"
           placeholder="&#61442;  Search by id, title, author..."
           type="text">
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Publication year</th>
        <th scope="col">Available</th>
        <th scope="col">Options</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of books | filter:searchText">
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.publicationYear }}</td>
        <td>{{ book.available }}</td>
        <td>
          <button class="btn btn-info" *ngIf="book.available" (click)="rent(book.id)">Rent</button>
          <button class="btn btn-info" *ngIf="adminLogged" (click)="deleteBook(book.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
