<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" [(ngModel)]="book.title"
               class="form-control"
               id="title"
               name="title"
               placeholder="Enter a booke title . . ."
               required #title="ngModel">
      </div>
      <div [hidden]="!title.pristine" class="alert alert-danger">Title is required</div>


      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" [(ngModel)]="book.author"
               class="form-control"
               id="author"
               name="author"
               placeholder="Enter an author . . ."
               required #author="ngModel">
        <div [hidden]="!author.pristine" class="alert alert-danger">Author is required</div>
      </div>

      <div class="form-group">
        <label for="publicationYear">Year of publication</label>
        <input #publicationYear="ngModel" [(ngModel)]="book.publicationYear"
               class="form-control"
               id="publicationYear"
               name="publicationYear"
               placeholder="Enter year of publication . . ."
               required type="number">
        <div [hidden]="!publicationYear.pristine" class="alert alert-danger">Year of publication is required</div>
      </div>

      <button type="submit" [disabled]="!userForm.form.valid"
              class="btn btn-info">Save
      </button>

    </form>
  </div>
</div>
