<div class="card my-5">
  <button class="btn btn-info" routerLink="/user/add">Create new user</button>
  <div class="search-hero">
    <input [(ngModel)]="searchText" autocomplete="off" class="form-control" name="search"
           placeholder="&#61442;  Search by id, name, role, admin, email, books, options..."
           type="text">
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Roles</th>
        <th scope="col">Email</th>
        <th scope="col">Options</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users | filter:searchText">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>
          <ng-container *ngFor="let role of user.roles">
            {{makePrettyRoleName(role.name)}}<br>
          </ng-container>
        </td>
        <td>{{ user.email }}</td>
        <td>
          <button class="btn btn-info" (click)="giveAdmin(user.id)">Admin</button>
          <button class="btn btn-info" (click)="giveUser(user.id)">User</button>
          <button class="btn btn-info" (click)="delete(user.id) ">Remove</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
